<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gf.mapper.QuestionBankMapper">
    <resultMap id="questionBankMap" type="com.gf.entity.QuestionBank">
        <id column="id" property="id"/>
        <result property="content" column="content"/>
        <result property="creatTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="score" column="score"/>
        <collection property="choices" ofType="com.gf.entity.QuestionChoice"
                    javaType="java.util.List" select="getChoices"
                    column="id">
            <result property="choiceId" column="cid"/>
            <!--            <result property="questionId" column="question_id"/>-->
            <result property="choiceName" column="choice_name"/>
            <result property="choice" column="choice"/>
        </collection>
    </resultMap>
    <select id="getAllQuestion" resultMap="questionBankMap" parameterType="java.util.Map">
        SELECT
        qb.id,
        qb.content,
        qb.create_time,
        qb.update_time,
        qb.score
        FROM question_bank AS qb
        WHERE 1=1
        <if test="questionId != null and questionId != ''">
            and qb.id = #{questionId}
        </if>
        <if test="content != null and content != ''">
            and qb.content like CONCAT('%',#{content},'%')
        </if>
    </select>

    <select id="getChoices" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
        qc.id AS choiceId,
        qc.question_id AS questionId,
        qc.choice_name AS choiceName,
        qc.choice
        FROM
        question_choice qc
        LEFT JOIN question_bank qb ON qc.question_id = qb.id
        WHERE 1=1
        <if test="id!= ''and id != null">
            AND qc.question_id = #{id}
        </if>
    </select>
</mapper>