<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gf.mapper.QuestionBankMapper">
    <resultMap id="questionBankMap" type="com.gf.entity.QuestionBank">
        <id column="id" property="id"/>
        <result property="content" column="content"/>
        <result property="creatTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="score" column="score"/>
        <association property="questionAnswer" resultMap="rightChoiceMap">
            <!--<id property="answerId" column="aid"/>
            <result property="questionId" column="question_id"/>
            <result property="rightChoice" column="right_choice"/>-->
        </association>
        <collection property="choices" ofType="com.gf.entity.QuestionChoice"
                    javaType="java.util.List" select="getChoices"
                    column="id">
            <result property="choiceId" column="cid"/>
            <result property="choiceName" column="choice_name"/>
            <result property="choice" column="choice"/>
        </collection>
    </resultMap>
    <resultMap id="rightChoiceMap" type="com.gf.entity.QuestionAnswer">
        <id property="answerId" column="aid"/>
        <result property="questionId" column="question_id"/>
        <result property="rightChoice" column="right_choice"/>
    </resultMap>
    <select id="getAllQuestion" resultMap="questionBankMap" parameterType="java.util.Map">
        SELECT
        qb.id,
        qb.content,
        qb.create_time,
        qb.update_time,
        qb.score,
        qa.question_id,
        qa.id as aid,
        qa.right_choice
        FROM question_bank AS qb
        LEFT JOIN question_answer AS qa
        ON qa.question_id = qb.id
        WHERE 1=1
        <if test="questionId != null and questionId != ''">
            and qb.id = #{questionId}
        </if>
        <if test="content != null and content != ''">
            and qb.content like CONCAT('%',#{content},'%')
        </if>
    </select>
    <select id="getChoices" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
        qc.id AS choiceId,
        qc.question_id AS questionId,
        qc.choice_name AS choiceName,
        qc.choice
        FROM
        question_choice qc
        LEFT JOIN question_bank qb ON qc.question_id = qb.id
        WHERE 1=1
        <if test="id!= ''and id != null">
            AND qc.question_id = #{id}
        </if>
    </select>
    <insert id="saveQuestionBankByExcel" parameterType="java.util.List">
        <foreach collection="list" index="index" item="item" separator=",">
            insert into question_bank(id, content, score)
            VALUES(#{item.id},#{item.content},#{item.score})
        </foreach>
    </insert>
    <insert id="saveRightChoiceByExcel" parameterType="java.util.List">
        <foreach collection="list" index="index" item="item" separator=",">
            insert into question_answer(question_id, right_choice)
            VALUES(#{item.id},#{item.rightChoice})
        </foreach>
    </insert>
    <insert id="saveQuestionChoiceByExcel" parameterType="java.util.List">
        insert into question_choice(question_id,choice_name,choice)
        values
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.questionId},#{item.choiceName},#{item.choice})
        </foreach>
    </insert>
    <delete id="deleteFromQCByIds" parameterType="java.util.List">
        delete
        from question_choice
        where question_choice.question_id in
        <foreach item="item" collection="list" separator="," open="(" close=")" index="">
            #{item}
        </foreach>
    </delete>
    <delete id="deleteFromQAByIds" parameterType="java.util.List">
        delete
        from question_answer
        where question_answer.question_id in
        <foreach item="item" collection="list" separator="," open="(" close=")" index="">
            #{item}
        </foreach>
    </delete>
    <delete id="deleteFromQBByIds" parameterType="java.util.List">
        delete
        from question_bank
        where question_bank.id in
        <foreach item="item" collection="list" separator="," open="(" close=")" index="">
            #{item}
        </foreach>
    </delete>
</mapper>
